body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*banner */ 
.makeStyles-banner-5 {
  background-image: none !important;
  background-color: rgb(60, 102, 159);
  margin-bottom: 30px;
  padding-bottom: 15px;
}
/*top navbar */ 
.MuiPaper-elevation4 {
  background-color: rgb(49, 84, 147) !important;
}


.MuiTableCell-body{
  color: red;
}

.MuiInputBase-input{
  background: red;
}

.makeStyles-App-1 {
  background-color: rgb(60, 102, 159) !important;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(4deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-4deg);
  }
  30% {
    transform: rotate(2deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(4deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}



.green {
  color: "green";
}

.TableBody {
  border: 1px solid black;
}